.section{
    margin: 10px;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 8px;
}
ProgressList{
    display: block;
}
.user{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-content: center;
}
.titles{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;

}
.userName{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
}
.userName:hover{
    background-color: #e3dada;
}
.btns{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
