.loginPage{
    background-image: linear-gradient(80deg, #d5d5d5, #e7e7e7,  #ededed);
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}
.auth-form-container{
    background-color: rgba(245, 245, 220, 0.338);
    display: flex;
    flex-direction: column;

}
.login-page-horizontal-container {
    display: flex;
    padding: 100px;
    padding-top: 30px; 
    flex-direction: row;
    margin: 0 auto;
}
.login_span {
    width: 150px;
    height: 50px;
    background:   #ededed7a;
  }

.login-title{
    display: flex;
    justify-content: center;
}
h1{
    color: #3c3692;
    width: 260px;
    justify-self: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    
}
input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
  
button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
}
  
.link-btn {
    background: none;
    color: white;
    text-decoration: underline;
}
@media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5rem;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0.5rem;
    }
}