*{
  box-sizing: border-box;
}
html{
  background: #FFF;  /* fallback for old browsers */
  /* background: linear-gradient(to right, #19021d, #240731);
  background: -webkit-linear-gradient(to right, #19021d, #240731);  /* Chrome 10-25, Safari 5.1-6 */
 /*background: linear-gradient(to right, #19021d, #240731);*/ /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Resources{
  padding:30px;
  width: 60%;
  margin:auto;
}

.inputresource{
  border:1px solid #3f4c9c;
  padding: 10px 12px;
  outline:0;
  border-radius: 8px;
  width: 84%;
}
.btn{
  background-color: #3f4c9c;
  color: #FFF;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 12px;
  border-radius: 8px;
}
.btnresource{
  margin-left: 300px;
}
.current{
  margin-top: 40px;
  background-color: #f3f3f3;
  padding: 20px;
  width: 100%;
  color: #FFF;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #3f4c9c;
}
.currentp{
  color: #3f4c9c;
  margin-bottom: 40px;
}
.resourceList li{
  margin-bottom: 30px;
}
.editbtn, .deletebtn, .updatebtn{
  float:right;
  margin-left:10px;

}
.updateForm{
  margin-bottom: 30px;
}
.inputUpdate{
  border:none;
  padding: 10px 12px;
  outline:0;
  border-radius: 8px;
  width: 40%;
  background-color: #c7c7c7;
}
.heading3{
  color: #ccc;
  word-spacing: 3px;
  text-align: center;
  font-size: 11px;
  margin-bottom: 40px;
}
.awsome{
  font-size:40px;
  margin-right: 10px;
}
.resourcename{
 color: #54545d;
}

.resource-Horizontal-container{
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}
.resource_span{
  width: 600px;
  height: 50px;
  background:   #ededed7a;
}