
  .WelcomeLabel {
      border: none;
      padding-bottom: 30px; 
      padding-right: 150px;
      padding-left: 50px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 50px;
      color: rgb(100, 5, 147);
  
  }

  .welcome-label-description {
    border: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    max-width: 550px;
    color: rgb(0, 0, 0);
}
.welcome-page-vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.welcome-page-horizontal-container{
    display: flex;
    padding: 100px;
    padding-top: 30px; 
    flex-direction: row;

}